* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, sans-serif;

  background-color: #0C0C0D;
  color: #FBF9FE;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

ul {
  list-style: none;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
  font-family: Inter, sans-serif;
  transition: all 0.3s;
}

input {
  border: 0;
  font-family: Inter, sans-serif;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

a {
 text-decoration: none;
}